main {
    height: 100%;
    padding-bottom: 50px;
}

footer {
    /* arrangement */
    position: absolute;
    left: 5%;

    /* size and alignment */
    height: 50px;
    width: 95%;

    /* styling */
    text-align: center;

    /* test */
    border: 1px solid red;
    /* background-color: yellow; */
    /* opacity: 50%; */
}
