.ly_navbar {
  /* arrangement */
  position: fixed;
  top: 0;
  z-index: 1000;

  /* size and alignment */
  box-sizing: border-box;
  width: 100%;
  height: var(--navbar-height);
  padding: 10px 0px;

  /* styling */
  background-color: var(--background-color);
  color: var(--text-color);
  box-shadow: var(--shadow-color) 0px 10px 15px 0px;
  border-bottom: 3px solid black;
}

.bl_navbar {
  /* arranagement */
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* size and alignment */
  box-sizing: border-box;
  width: 90%;
  height: 100%;
  margin-left: 5%;
  margin-right: 5%;
}

.ly_main {
  /* arrangement */
  position: absolute;
  top: var(--navbar-height);

  /* size and alignment */
  box-sizing: border-box;
  width: 90%;
  height: 100%;
  margin-left: 5%;
  margin-right: 5%;
}

.ly_sidebar {
  /* arrangement */
  position: fixed;
  top: var(--navbar-height);
  right: 0;
  padding-top: 50px;

  /* size and alignment */
  box-sizing: border-box;
  width: calc(var(--sidebar-width) + 5%);
  height: 100%;

  /* styling */
  border-left: 3px solid var(--text-color);
}

.ly_content {
  /* arrangement */
  position: absolute;
  top: 0;
  left: 0;

  /* size and alignment */
  box-sizing: border-box;
  width: calc(100% - var(--sidebar-width));
  height: 100%;
  padding: 50px 50px 50px 10px;
}
