.bl_content {
  position: relative;
  height: 100%;
}

.summary {
  /* position: absolute; */
  height: 200px;
  margin-bottom: 60px;
}

.summary h1 {
  /* size and alignment */
  padding-bottom: 10px;

  /* styling */
  color: var(--text-color);
  font-size: 2rem;
  font-weight: 700;
}

.summary p {
  /* size and alignment */
  padding-bottom: 30px;

  /* styling */
  color: var(--text-color2);
  font-size: 1rem;
}

.summary span {
  padding-right: 10px;
}

.summary > .description {
  position: relative;
  font-size: 1rem;
  height: 7.5rem;
  line-height: 1.5rem;
  overflow: hidden;
  color: var(--text-color2);
  letter-spacing: 0.5;
}

.full {
  height: 100%;
  width: 100%;
}

.full h1 {
  /* size and alignment */
  padding-bottom: 30px;

  /* styling */
  color: var(--text-color);
  font-size: 2.5em;
  font-weight: 900;
}

.full h2 {
  /* size and alignment */
  padding-top: 30px;

  /* styling */
  color: var(--text-color);
  font-size: 1.5rem;
}

.full h3 {
  /* size and alignment */
  padding-top: 30px;

  /* styling */
  color: var(--text-color);
  font-size: 1.2rem;
}
.full p {
  /* size and alignment */
  padding-top: 30px;

  /* styling */
  color: var(--text-color2);
  line-height: 1.2;
}
