.bl_content {
  position: relative;
  height: 100%;
}

.card {
  /* position: absolute; */
  height: 200px;
  padding-bottom: 60px;
}

.bl_content h1,
.card h1 {
  /* size and alignment */
  padding-bottom: 10px;

  /* styling */
  color: var(--text-color);
  font-size: 2rem;
  font-weight: 700;
}

.bl_content p,
.card p {
  /* size and alignment */
  padding-bottom: 30px;

  /* styling */
  color: var(--text-color2);
  font-size: 1rem;
}

.bl_content span,
.card span {
  padding-right: 10px;
}

.bl_content > .description,
.card > .description {
  position: relative;
  font-size: 1rem;
  height: 7.5rem;
  line-height: 1.5rem;
  overflow: hidden;
  color: var(--text-color2);
  letter-spacing: 0.5;
}
