@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Noto+Sans+Mono:wght@100..900&family=Rubik+Wet+Paint&display=swap");
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
@import url("https://fonts.googleapis.com/css2?family=Gamja+Flower&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Nanum+Brush+Script&family=Noto+Sans+Mono:wght@100..900&family=Rubik+Wet+Paint&display=swap");

@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local("Material Icons"), local("MaterialIcons-Regular"),
    url(https://example.com/MaterialIcons-Regular.woff2) format("woff2"),
    url(https://example.com/MaterialIcons-Regular.woff) format("woff"),
    url(https://example.com/MaterialIcons-Regular.ttf) format("truetype");
}

:root {
  /* size */
  margin: 0;

  --navbar-height: 50px;
  --navbar-padding: 10px;
  --sidebar-width: 450px;

  /* font */
  font-family: "Noto Sans Mono", "sans-serif";

  /* styling */
  --background-color: #ffffff;
  --background-color2: #eaeaea;
  --background-color3: #bdbdbd;
  --text-color: #000000;
  --text-color2: #353535;
  --shadow-color: rgba(0, 0, 0, 0.04);
  --signature-color: #348017;
}

.darkmode {
  --text-color: #ffffff;
  --text-color2: #eaeaea;
  --background-color: #000000;
  --background-color2: #353535;
  --shadow-color: rgba(255, 255, 255, 0.04);
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}

/* default settings */

html,
body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;

  scroll-padding-top: 50px;
  scroll-behavior: smooth;
  /* TODO: set separate feature for scroll auto button(for table title) */
}

li,
ul,
ol {
  list-style: none; /* Removes default bullets and numbers */
}

a,
p,
div,
h1,
h2,
h3 {
  text-decoration: none; /* Removes the underline */
  font: var(--text-color);
  line-height: 1;
}

li,
ul,
ol,
a,
p,
div,
h1,
h2,
h3,
table {
  border: 0;
  box-sizing: border-box;
  margin: 0; /* Removes default margin */
  padding: 0; /* Removes default padding */
}
