/* English Typography */
.en_slogan_default {
  font-family: "Teko";
  font-size: 5vw;
  font-weight: 900;
}

.en_slogan_giant {
  font-family: "Teko";
  font-size: 6vw;
  font-weight: 900;
}

.en_slogan_light {
  font-family: "Teko";
  font-size: 6vw;
  font-weight: 400;
  margin-bottom: 50px;
}

.en_slogan_emphasis {
  font-family: "Love Ya Like A Sister";
  font-size: 8.5vw;
  font-weight: 900;
  color: var(--signature-color);
}

.en_slogan_emphasis_giant {
  font-family: "Love Ya Like A Sister";
  font-size: 12vw;
  font-weight: 900;
  color: var(--signature-color);
}

.en_slogan_oblique {
  /* oblique */
  transform: skew(-10deg);
}

.en_half_reading {
  margin-top: -5vw;
}

.en_headline_container {
  margin: 5rem 0 5rem 0;
}

/* Korean Typography */
.kr_slogan_default {
  font-family: "Pretendard variable";
  font-size: 2vw;
  font-weight: 600;
  text-align: left;
  color: var(--text-color2);
}

.kr_slogan_giant {
  font-family: "Pretendard variable";
  font-size: 5vw;
  font-weight: 900;
}

.kr_slogan_oblique {
  /* oblique */
  transform: skew(-10deg);
}

.kr_slogan_emphasis {
  font-family: "YoonChildfundkoreaManSeh";
  font-size: 2vw;
  font-weight: 900;
  text-align: left;
  color: var(--text-color2);
}

.kr_headline_container {
  margin-bottom: 10vw;
}

.kr_description_container {
  margin-bottom: 1vw;
}

/* Signature */
.signature_color:hover {
    font-weight: 900;
    color: var(--signature-color);
}

.signature_en:hover {
  font-family: "Love Ya Like A Sister";
}

.signature_kr:hover {
  font-family: "YoonChildfundkoreaManSeh";
}